     <!-- Footer -->
     <footer id="footer">
        <ul class="icons">
          <li>
            <a
              style="color: #5865f2"
              href="https://discord.gg/mUYTdwXB7v"
              class="icon brands alt fa-discord fa-fw"
              target="_blank"
              ><span class="label">Discord</span></a
            >
          </li>
          <li>
            <a
              style="color: #ff0000"
              href="https://youtube.com/@osyra42"
              class="icon brands alt fa-youtube fa-fw"
              target="_blank"
              ><span class="label">Youtube</span></a
            >
          </li>
          <li>
            <a
              style="color: #476779"
              href="https://github.com/osyra42"
              class="icon brands alt fa-github fa-fw"
              target="_target"
              ><span class="label">Github</span></a
            >
          </li>
          <li>
            <a style="color: #9146ff" href="https://twitch.tv/osyra42" class="icon brands alt fa-twitch fa-fw"
              ><span class="label">Twitch</span></a
            >
          </li>
          <li>
            <a style="color: #8a90c7" href="mailto:BurgerByteStudio@proton.me" class="icon solid alt fa-envelope"
              ><span class="label">Email</span></a
            >
          </li>
        </ul>
        <ul class="copyright">
          <li>&copy; 2024, Burger Byte Studio. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>