body {
  background-color: #222222;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #ff8800;
}

#announcement {
  font-size: 20px;
  text-align: center;
  color: #f8ff8f;
  background-color: #333333;
  padding: 10px;
  display: fixed;
  top: 0px;
}
