body {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #333333;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; /* Required for the overlay to be positioned correctly */
}

a {
  color: #ff8800;
}

#announcement {
  font-size: 20px;
  text-align: center;
  color: #f8ff8f;
  background-color: #333333;
  padding: 2px;
  margin: 0px;
  display: fixed;
  top: 0px;
}

#left {
  float: left;
}

#right {
  float: right;
}

#center {
  max-width: 720px;
  margin: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border: #fff solid 1px;
  border-radius: 12px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #bbbbbb;
  font-size: 20px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  background-color: #333333;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 12px;
}

.icons a {
  margin: 10px 0;
  color: #dddddd;
  font-size: 24px;
  text-decoration: none;
}
