:root {
  --bg-color: #2c2c2c;
  --sidebar-bg: #3a3a3a;
  --main-content-bg: #2c2c2c;
  --hover: #2ecc71;
  --accent1: #ff6f61;
  --accent2: #ffcc5c;
  --text-primary: #f5f5f5;
  --text-secondary: #d3d3d3;
  --text-tertiary: #b3b3b3;
  --border-color: #4a4a4a;
  --input-bg: #424242;
  --input-border: #5a5a5a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  transition: color 0.2s;
  line-height: 1.5;
  font-size: 16px;
}

/* General Styles */
body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: Arial, sans-serif;
  margin: 0px;
}

h1 {
  text-align: center;
  color: #3498db;
  font-size: 28px;
}

h3 {
  font-size: 1.25rem;
  color: var(--accent2);
  margin-top: 20px;
}

#announcement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 4px;
  background-color: #3498db;
  color: #ecf0f1;
  font-size: 16px;
  z-index: 100;
  box-sizing: border-box;
}

.all-posts {
  flex: 1;
  margin-top: 0px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  scrollbar-width: thin;
  scrollbar-color: var(--accent1) var(--bg-color);
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--accent1) var(--bg-color);
  scrollbar-gutter: stable;
  -ms-overflow-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  -webkit-overflow-scrolling: touch;
}

/* Layout */
.site-container {
  display: grid;
  grid-template-columns: 300px 1fr 250px;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  background-color: var(--sidebar-bg);
  border-right: 1px solid var(--border-color);
  padding: 20px;
}

.sidebar .avatar-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px auto;
  border: 2px solid var(--accent1);
}

.sidebar .avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar h2 {
  font-size: 1.25rem;
  color: var(--accent2);
  margin-top: 4px;
}

.sidebar p {
  color: var(--text-secondary);
}

.sidebar .skill-icon {
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 5px;
  background-color: var(--border-color);
  border-radius: 5px;
  display: inline-block;
}

.sidebar .skill-icons i {
  font-size: 30px;
  text-align: center;
  color: var(--text-tertiary);
}

.sidebar .nav-link {
  color: var(--accent1);
  text-decoration: none;
  transition: color 0.2s;
  display: block;
  margin-bottom: 8px;
}

.sidebar .nav-link:hover {
  color: var(--hover);
}

.sidebar .nav-link i {
  margin-right: 8px;
}

/* Main Content */
.main-content {
  background-color: var(--main-content-bg);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content nav ul {
  position: relative;
  width: 100%;
  display: flex;
  gap: 24px;
}

.main-content nav ul li {
  list-style: none;
}

.main-content nav ul li a {
  color: var(--accent1);
  text-decoration: none;
  transition: color 0.2s;
}

.main-content nav ul li a:hover {
  color: var(--hover);
}

.main-content nav ul li a i {
  margin-right: 8px;
}

.main-content .post-card {
  background-color: var(--border-color);
  border: 1px solid var(--input-border);
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
}

.main-content .post-card h3 {
  font-size: 1.25rem;
  color: var(--accent2);
  margin-bottom: 4px;
  display: inline-block; /* Ensure the title stays inline */
}

.main-content .post-card h3 i {
  margin-right: 8px;
}

.main-content .post-card p {
  color: var(--text-tertiary);
}

.main-content .post-card a {
  color: var(--accent1);
  text-decoration: none;
  transition: color 0.2s;
  display: block;
  margin-top: 16px;
}

.main-content .post-card a:hover {
  color: var(--hover);
}

.main-content .post-card div {
  display: flex;
  justify-content: space-between; /* Align title and button to opposite ends */
  align-items: center; /* Vertically center the items */
}

.main-content .post-card div button {
  background-color: transparent;
  border: none;
  color: var(--accent2);
  cursor: pointer;
  transition: color 0.2s;
  font-size: 18px;
}

.main-content .post-card div button:hover {
  color: var(--hover);
}

/* Right Sidebar */
.project-links {
  background-color: var(--sidebar-bg);
  border-left: 1px solid var(--border-color);
  padding: 24px;
}

.project-links .relative {
  position: relative;
}

.project-links .relative i {
  position: absolute;
  left: 12px;
  top: 12px;
  color: var(--text-secondary);
}

.project-links input[type="text"] {
  width: 200px; /* Adjust the width as needed */
  background-color: var(--input-bg);
  color: var(--text-tertiary);
  padding: 8px 12px 8px 40px;
  border-radius: 4px;
  border: 1px solid var(--input-border);
}

.project-links h3 {
  font-size: 1.25rem;
  color: var(--accent2);
  margin-bottom: 4px;
}

.project-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-links ul li {
  margin-bottom: 8px;
}

.project-links ul li a {
  color: var(--accent1);
  text-decoration: none;
  transition: color 0.2s;
}

.project-links ul li a:hover {
  color: var(--hover);
}

.project-links ul li a i {
  margin-right: 8px;
  width: 16px;
  display: inline-block;
}

.project-links .flex {
  display: flex;
  gap: 16px;
}

.project-links .flex a {
  color: var(--accent1);
  text-decoration: none;
  transition: color 0.2s;
}

.project-links .flex a:hover {
  color: var(--hover);
}

.project-links .flex a i {
  margin-right: 4px;
}

.pth {
  position: absolute;
  bottom: 0px;
  margin-top: 16px;
  text-align: center;
  color: var(--input-border);
}

.pth-link {
  color: var(--accent2);
  text-decoration: none;
  transition: color 0.2s;
  font-size: 14px;
}

.pth-link:hover {
  color: var(--hover);
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--input-border);
}
