body {
  background-color: #111;
  color: #ddd;
  font-family: "Courier New", Courier, monospace;
}

pre {
  white-space: pre-wrap;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
  font-size: 16px;
}

pre span {
  font-family: "Brush Script MT", cursive;
  font-size: 24px;
}

/* Button styles */
pre button {
  background-color: #343434;
  color: #ff2200;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

a:link {
  color: #0080ff;
}
a:visited {
  color: #ff8000;
}
