:root {
  --black: #252937;
  --dark_matter_gray: #4F4C52;
  --slate_gray: #576A71;
  --sky_blue: #BBECFD;
  --pink_lemonade: #F18685;
  --metalic_silver: #8D959D;
  --red: #C1003C;
  --white: #f8f8f8;
  --metalic_gold: #A48E58;
}

@font-face {
  font-family: 'Cartoon';
  src: url('fonts/SFCartoonistHand.ttf') format('truetype');
}

@font-face {
  font-family: 'Shalbie';
  src: url('fonts/Shalbie Free Trial.otf') format('opentype'),
    url('fonts/Shalbie Free Trial.ttf') format('truetype');
}



body {
  background-color: var(--dark_matter_gray);
  color: var(--slate_gray);
}

a {
  text-decoration: none;
  color: var(--pink_lemonade);
}

p {
  padding: 0px;
  margin: 0px;
}

.banner {
  position: relative;
  background-color: var(--slate_gray);
  background-image: url("images/banner.png");
  height: 30vh;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.avatar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--white);
  border: var(--metalic_silver) solid 3px;
}

.name {
  font-family: Shalbie;
  position: absolute;
  bottom: -20px;
  left: 110px;
  font-size: 36px;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 16px;
  border: 3px solid var(--metalic_silver);
  color: var(--metalic_silver);
}

.socials a {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px;
  padding-right: 8px;
  font-weight: bold;
  font-family: Arial;
  font-size: 18px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 5px;
  white-space: nowrap;
}

.socials a i {
  padding: 3px;
}

.bio {
  font-family: Arial;
  background-color: var(--black);
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 16px;
  color: var(--sky_blue);
}



section {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.take-number {
  font-family: Cartoon;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: var(--sky_blue);
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
  display: none;
  font-size: 18px;
  border-radius: 8px;
}

.take-number a {
  color: var(--black);
}

.box:hover .take-number {
  display: block;
}

.box {
  position: relative;
  width: 318px;
  height: 450px;
  margin: 10px;
  background-color: var(--black);
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 30px;
  color: var(--white);
}

.box h3 {
  position: absolute;
  top: 8px;
  margin: 0px;
  padding: 0px;
  font-family: Cartoon;
}

.box img {
  margin: 10px;
  position: absolute;
  top: 34px;
  height: 200px;
  width: 300px;
  border: 1px solid var(--white);
  border-radius: 8px;
  display: block;
}

.box p {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 240px;
  font-family: Arial;
}

@media only screen and (min-width: 1024px) {
  body {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 8px;
  }
}