/* Global Styles */
:root {
  --bg-color: #2c2c2c;
  --sidebar-bg: #3a3a3a;
  --main-content-bg: #2c2c2c;
  --hover: #2ecc71;
  --accent1: #ff6f61;
  --accent2: #ffcc5c;
  --text-primary: #f5f5f5;
  --text-secondary: #d3d3d3;
  --text-tertiary: #b3b3b3;
  --border-color: #4a4a4a;
  --input-bg: #424242;
  --input-border: #5a5a5a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  transition: color 0.2s;
  line-height: 1.5;
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  color: #3498db;
  font-size: 28px;
}

h3 {
  font-size: 1.25rem;
  color: var(--accent2);
  margin-top: 20px;
}

#announcement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 4px;
  background-color: #3498db;
  color: #ecf0f1;
  font-size: 16px;
  z-index: 100;
  box-sizing: border-box;
}

.all-posts {
  flex: 1;
  margin-top: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  scrollbar-width: thin;
  scrollbar-color: var(--accent1) var(--bg-color);
  -ms-overflow-style: none;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  -webkit-overflow-scrolling: touch;
}

.site-container {
  display: grid;
  grid-template-columns: 300px 1fr 250px;
  min-height: 100vh;
}

/* Left Sidebar */
#left-sidebar {
  background-color: var(--sidebar-bg);
  border-right: 1px solid var(--border-color);
  padding: 20px;
  height: 100vh;
}

#left-sidebar .avatar-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px auto;
  border: 2px solid var(--accent1);
}

#left-sidebar .avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#left-sidebar h2 {
  font-size: 1.25rem;
  color: var(--hover);
  margin-top: -10px;
  background-color: var(--bg-color);
  border-radius: 8px;
  text-align: center;
}

#left-sidebar p {
  color: var(--text-secondary);
}

#left-sidebar .skill-icon {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  background-color: var(--border-color);
  border-radius: 5px;
  display: inline-block;
}

#left-sidebar .skill-icons i {
  font-size: 32px;
  text-align: center;
  color: var(--text-tertiary);
  padding-top: 10px;
}

#left-sidebar .nav-link {
  color: var(--accent1);
  text-decoration: none;
  transition: color 0.2s;
  display: inline-block;
  margin-bottom: 8px;
}

#left-sidebar .nav-link:hover {
  color: var(--hover);
}

/* Main Content */
.main-content {
  background-color: var(--main-content-bg);
  padding: 40px 8px 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content nav ul {
  display: flex;
  gap: 24px;
}

.main-content nav ul li {
  list-style: none;
}

.main-content nav ul li a {
  color: var(--accent1);
  text-decoration: none;
  transition: color 0.2s;
  display: inline-block;
}

.main-content nav ul li a:hover {
  color: var(--hover);
}

.main-content nav ul li a i {
  margin-right: 8px;
}

.main-content .post-card {
  background-color: var(--border-color);
  border: 1px solid var(--input-border);
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
}

.main-content .post-card h3 {
  font-size: 1.25rem;
  color: var(--accent2);
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content .post-card h3 i {
  margin-right: 0px;
}

.main-content .post-card p {
  color: var(--text-primary);
}

.main-content .post-card a {
  color: var(--accent1);
  text-decoration: none;
  transition: color 0.2s;
  display: inline-block;
  margin-top: 16px;
}

.main-content .post-card a:hover {
  color: var(--hover);
}

.main-content .post-card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content .post-card div button {
  background-color: transparent;
  border: none;
  color: var(--accent2);
  cursor: pointer;
  transition: color 0.2s;
  font-size: 18px;
  margin-left: 8px;
}

.main-content .post-card div button:hover {
  color: var(--hover);
}

.post-card .post-time {
  color: var(--text-tertiary);
  display: inline;
  position: relative;
  float: right;
  margin-top: 18px;
}

.post-card .read-more {
  display: inline-block;
}

/* Right Sidebar */
#right-sidebar {
  background-color: var(--sidebar-bg);
  padding: 12px;
  height: 100vh;
}

#right-sidebar .relative {
  position: relative;
}

#right-sidebar .relative i {
  position: absolute;
  left: 12px;
  top: 12px;
  color: var(--text-secondary);
}

#right-sidebar input[type="text"] {
  width: 224px;
  background-color: var(--input-bg);
  color: var(--text-tertiary);
  padding: 8px 12px 8px 40px;
  border-radius: 4px;
  border: 1px solid var(--input-border);
}

#right-sidebar h3 {
  font-size: 1.25rem;
  color: var(--accent2);
  margin-bottom: 4px;
}

#right-sidebar div {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

#right-sidebar div a {
  color: var(--accent1);
  text-decoration: none;
  transition: color 0.2s;
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
}

#right-sidebar div a:hover {
  color: var(--hover);
}

#right-sidebar .project-links a i {
  margin-right: 8px;
  width: 16px;
}

#right-sidebar .flex {
  display: flex;
  gap: 16px;
}

#right-sidebar .flex a {
  color: var(--accent1);
  text-decoration: none;
  transition: color 0.2s;
}

#right-sidebar .flex a:hover {
  color: var(--hover);
}

#right-sidebar .flex a i {
  margin-right: 4px;
}

.pth {
  position: absolute;
  bottom: 0px;
  margin-top: 16px;
  text-align: center;
  color: var(--input-border);
  font-weight: bold;
}

.pth div a i {
  margin-right: 0;

  color: var(--accent2);
}

.pth-link {
  color: var(--accent2) !important;
  text-decoration: none;
  transition: color 0.2s;
  font-size: 14px;
  font-weight: normal;
  display: inline !important;
}

.pth-link:hover {
  color: var(--hover);
}

hr {
  border: 0;
  height: 2px;
  background-color: var(--input-border);
}

table {
  border: 2px solid #bbbbbb;
  overflow-y: scroll;
  min-width: 100%;
}

thead {
  background-color: #bbbbbb;
  color: #000000;
  text-align: center;
}

td {
  padding: 3px;
  min-width: 60px;
  border: 1px solid #888888;
  padding-left: 4px;
  padding-right: 4px;
}
